<div class="container text-center">

  <h1>Book manager !!!</h1>

</div>

<div class="container">
<div class="text-center">
<button class="btn btn-dark m-2" type="button" (click)="onclickSwitchNewStatus('Libre')">Tous disponible</button>
<button class="btn btn-info m-2" type="button" (click)="onclickSwitchNewStatus('Pris')">Non disponible</button>
</div>
  <table class="table">
    <thead class="thead-dark">
      <tr>

        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr app-table-row *ngFor="let item of books"
      [id]="item.id"
      [title]="item.title"
      [author]="item.author"
      [status]="item.status">
      </tr>

  </table>

</div>
<router-outlet></router-outlet>
